* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
  width: 100vw;
  background: #303030;
}
a {
  cursor: pointer;
}
h1 {
  font-size: 32px;
  text-align: center;
}
h2 {
  font-size: 18px;
  text-align: center;
}

.main-home,
.main-aboutme,
.main-workhist,
.main-projects,
.main-skills,
.main-contact {
  min-height: 100vh;
}
.empty {
  height: 68px;
}

/* Navbar */
nav {
  background: #303030;
}
.logo {
  width: 42px;
}
.nav-link {
  font-family: Roboto, Helvetica, sans-serif;
}

/*Home*/
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-link {
  text-align: center;
  color: white;
}
.scroll-link > h3 {
  margin-bottom: 12px;
  font-size: 24px;
}
.scroll-link > img {
  width: 64px;
}
.home-container {
  margin: auto;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.techienaut-twitter {
  font-size: 20px;
  padding: 8px;
  text-decoration: underline;
  color: white;
}
.techienaut-logo {
  width: 128px;
}
.h2-softdev {
  line-height: 1.75;
  font-size: 24px;
}

/* About Me */
.main-aboutme {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.aboutme-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 6px solid #c4c4c4;
  background-color: rgba(255, 139, 36, 0.69);
  border-radius: 25px;
  margin: 8px;
}
.aboutme-container > h1 {
  padding-top: 8px;
}
.header-seperator {
  height: 6px;
  width: 100%;
  background-color: #c4c4c4;
}
.aboutme-container > p {
  padding: 8px;
  text-align: left;
}

/*Work Hist*/
.workhist-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.work-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 6px solid #c4c4c4;
  background-color: rgba(48, 193, 255, 0.62);
  border-radius: 25px;
  margin: 8px;
}
.work-container > h1 .certs-container > h1 {
  font-size: 24px;
  padding-top: 8px;
}
.work-container > h3,
.certs-container > h3 {
  padding: 8px 8px 0 8px;
  font-size: 18px;
  margin-bottom: -6px;
}
.work-container > h4,
.certs-container > h4 {
  padding: 8px 8px 0 8px;
  font-size: 14px;
  margin-bottom: 3px;
}
.work-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkedin-logo,
.empty-linkedin-logo {
  width: 48px;
  height: 48px;
}
.linkedin-logo {
  border: 2px solid #c4c4c4;
  border-radius: 6px;
  margin: 8px 0 8px 12px;
}
.item-seperator {
  height: 2px;
  width: 100%;
  background-color: #c4c4c4;
}
.certs-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  border: 6px solid #c4c4c4;
  background-color: rgba(255, 139, 36, 0.69);
  border-radius: 25px;
  margin: 8px;
}
.workhist-arrow-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Projects*/
.main-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#projects-container {
  width: 100%;
}
.invisable {
  visibility: hidden;
}
.project-title {
  text-decoration: underline;
  color: white;
}
.project-item {
  margin: 0 12px;
}
.project-item > a {
  text-align: center;
  display: block;
  margin-top: 16px;
  font-size: 18px;
  text-decoration: underline;
}
.project-img-container {
  position: relative;
}
.project-spaceship {
  width: 128px;
}
.project-img {
  width: 84px;
  position: absolute;
  top: 20px;
  left: 22px;
  z-index: 1;
}

/*Skills*/
.main-skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
iframe {
  border: 12px solid #c4c4c4;
  border-radius: 25px;
  height: 70vh;
  width: 80%;
}

/* Contact */
.main-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact-form-container {
  width: 80%;
  margin: 0 auto;
}

/* Style inputs */
input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */

/* Create two columns that float next to eachother */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  /*Home*/
  .home-container {
    top: 10%;
  }
  .techienaut-logo {
    width: 224px;
  }
  h1 {
    font-size: 48px;
    text-align: center;
  }
  p {
    font-size: 24px;
    line-height: 1.25;
  }
  .home-container > a {
    font-size: 24px;
  }
  .home-container > h2 {
    font-size: 32px;
    text-align: center;
  }

  /*About Me*/
  .aboutme-container {
    width: 60%;
  }

  /*Work Hist*/
  .work-container,
  .certs-container {
    width: 45%;
  }
  .main-workhist h1 {
    font-size: 30px;
  }
  .workhist-arrow-container {
    margin-top: 32px;
  }
}
@media (min-width: 1024px) {
  /*Home*/
  .home-container {
    top: 10%;
  }
  .techienaut-logo {
    width: 256px;
  }
  .scroll-link > h3 {
    margin-bottom: 12px;
    font-size: 32px;
  }
  .scroll-link > img {
    width: 86px;
  }

  /*About Me*/
  .aboutme-container {
    width: 40%;
  }

  /*Work Hist*/
  .work-container,
  .certs-container {
    width: 35%;
  }
  .work-header-container > h1,
  .certs-container > h1 {
    font-size: 48px;
  }
  .work-container > h3,
  .certs-container > h3 {
    font-size: 26px;
  }
  .work-container > h4,
  .certs-container > h4 {
    font-size: 20px;
  }
  .linkedin-logo,
  .empty-linkedin-logo {
    width: 64px;
    height: 64px;
    margin-right: 24px;
  }

  /*Projects*/
  .project-spaceship {
    width: 184px;
  }
  .project-img {
    width: 120px;
    position: absolute;
    top: 28px;
    left: 34px;
    z-index: 1;
  }
  .main-projects > a {
    margin-top: 16px;
  }
}
